<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Hôm nay</h4>

            <div class="table-responsive ">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>
                            <th>
                                Vàng nạp
                            </th>
                            <th>
                                Vàng rút
                            </th>
                            <th>
                                Nạp trừ rút
                            </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-info">
                            <td>
                                Server 1
                            </td>
                            <td>
                             
                                <%=String(data.napsv1 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv1 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv1-data.rutsv1).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>

                        </tr>
                        <tr class="table-warning">
                            <td>
                                Server 2
                            </td>
                            <td>
                             
                                <%=String(data.napsv2 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv2 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv2-data.rutsv2).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-danger">
                            <td>
                                Server 3
                            </td>
                            <td>
                             
                                <%=String(data.napsv3 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv3 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv3-data.rutsv3).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                Server 4
                            </td>
                            <td>
                             
                                <%=String(data.napsv4 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv4).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv4-data.rutsv4).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-primary">
                            <td>
                                Server 5
                            </td>
                            <td>
                             
                                <%=String(data.napsv5 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv5).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv5-data.rutsv5).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <td>
                                Server 6
                            </td>
                            <td>
                             
                                <%=String(data.napsv6 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv6 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv6-data.rutsv6).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-success">
                            <td>
                                Server 7
                            </td>
                            <td>
                             
                                <%=String(data.napsv7 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv7 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv7-data.rutsv7).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-danger">
                            <td>
                                Server 8
                            </td>
                            <td>
                             
                                <%=String(data.napsv8 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv8 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv8-data.rutsv8).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>
                        <tr class="table-secondary">
                            <td>
                                Server 9
                            </td>
                            <td>
                             
                                <%=String(data.napsv9 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv9).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                         
                            </td>
                            <td>
                                <%=String(data.napsv9-data.rutsv9).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                                
                            </td>
                        </tr>

                        <tr class="table-success">
                            <td>
                                Tổng
                            </td>
                            <td>
                             
                                <%=String(data.napsv1+data.napsv2+data.napsv3+data.napsv4+data.napsv5+data.napsv6+data.napsv7+data.napsv8+data.napsv9 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                            </td>
                            <td>
                                <%=String(data.rutsv1+data.rutsv2+data.rutsv3+data.rutsv4+data.rutsv5+data.rutsv6+data.rutsv7+data.rutsv8+data.rutsv9 ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
       
                         
                            </td>
                            <td>
                                <%=String((data.napsv1+data.napsv2+data.napsv3+data.napsv4+data.napsv5+data.napsv6+data.napsv7+data.napsv8+data.napsv9)-(data.rutsv1+data.rutsv2+data.rutsv3+data.rutsv4+data.rutsv5+data.rutsv6+data.rutsv7+data.rutsv8+data.rutsv9) ).replace(/(.)(?=(\d{3})+$)/g,'$1,')%>
                    
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>