
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-12 col-xl-8 mb-4 mb-xl-0">
          <h3 class="font-weight-bold">Chào <%=data.name%>
          </h3>

        </div>

      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12 grid-margin transparent">
      <div class="row">
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-tale">
            <div class="card-body">
              <p class="mb-4">Thành viên đang Online</p>
              <p id="online" class="fs-30 mb-2">0</p>
              <p>Thành viên</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-dark-blue">
            <div class="card-body">
              <p class="mb-4">Thành viên gia nhập hôm nay</p>
              <p class="fs-30 mb-2">
                <%=usernow%>
              </p>
              <p>Thành viên</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-light-blue">
            <div class="card-body">
              <p class="mb-4">Thẻ cào hôm nay</p>
              <p class="fs-30 mb-2"><%=card.tong%> VNĐ</p>
              <p>Thực: <%=card.tongreal%> VNĐ</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-light-blue">
            <div class="card-body">
              <p class="mb-4">Thẻ cào tháng này</p>
              <p class="fs-30 mb-2"><%=cardthang.tong%> VNĐ</p>
              <p>Thực: <%=cardthang.tongreal%> VNĐ</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-light-danger">
            <div class="card-body">
              <p class="mb-4">TheSieuRe.Com Ngày</p>
              <p class="fs-30 mb-2"><%=tsr%> VNĐ</p>
              <p></p>
            </div>
          </div>
        </div>
       
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-light-danger">
            <div class="card-body">
              <p class="mb-4">TheSieuRe.Com Tháng</p>
              <p class="fs-30 mb-2"><%=tsrthang%> VNĐ</p>
              <p></p>
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-light-blue">
            <div class="card-body">
              <p class="mb-4">Momo Hôm nay</p>
              <p class="fs-30 mb-2"><%=momo%> VNĐ</p>
             
            </div>
          </div>
        </div>
        <div class="col-md-3 mb-4 stretch-card transparent">
          <div class="card card-light-danger">
            <div class="card-body">
              <p class="mb-4">Momo Tháng</p>
              <p class="fs-30 mb-2"><%=momothang%> VNĐ</p>
              <p></p>
            </div>
          </div>
        </div>
       
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card position-relative">
        <div class="card-body">
          
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modaldoimk" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Đổi mật khẩu</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label>Tài khoản: <%=data.name%></label>

        <br>
        <label>Mật khẩu cũ</label>
        <input id="mkcu" type="text" class="form-control" placeholder="mk cu" aria-label="mk cu">
        <br>
        <label>Mật khẩu mới</label>
        <input id="mkmoi" type="password" class="form-control" placeholder="mk moi" aria-label="mk moi">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        <button onclick="doipass()" type="button" class="btn btn-primary">Đổi ngay</button>
      </div>
    </div>
  </div>
</div>
  <script>
    function doipass() {
  
      $.ajax({
        url: "/login/changepass",
        type: "post",
        data: {
  
          mkcu: $('#mkcu').val(),
          mkmoi: $('#mkmoi').val()
        },
        success: function (result) {
          if (result.error == 0) {
            alert(result.message)
            location.reload();
          }
          else {
            alert(result.message)
          }
  
        }
      });
  
    }
  </script>


<script>
  var socket = new WebSocket('wss://cltxvip.com/wss');

  function connect() {

    socket.onopen = function () {
      setInterval(() => {
        socket.send(JSON.stringify({ type: "admin9999999" }))
        
      }  , 1000)
    };

    socket.onmessage = function (e) {
      console.log(e.data)
      const json = JSON.parse(e.data)
      if (json.type == "admin9999999") {
        $("#online").text(json.useronline)
      }
    };

    socket.onclose = function (e) {
      console.log('Socket is closed. Reconnect will be attempted in 1 second.', e.reason);
      setTimeout(function () {
        socket = new WebSocket('wss://cltxvip.com/wss');
        connect();
      }, 1000);
    };

    socket.onerror = function (err) {
      console.error('Socket encountered error: ', err.message, 'Closing socket');
      socket.close();
    };
  }

  connect();

</script>